@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

#map {
    height: 70vh;
    z-index: 1;
}

.image-container {
    background-image: url(./images/pattern-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

#container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    width: 75vmax;
    margin: 0 auto;
    height:auto;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 20px;
}

input {
    margin-bottom: 100px;
    padding: 15px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    width: 500px;
    color: hsl(0, 0%, 59%);
}

.input-container {
    display: flex;
    justify-content: center;
    
}

*:focus {
    outline: none;
}

.arrow {
    background-color: hsl(0, 0%, 17%);
    padding: 16px;
    border-radius: 0px 10px 10px 0px;
}

h6 {
    font-size: 10px;
    font-weight: normal;
    color: hsl(0, 0%, 59%);
    margin-bottom: 10px;
}

#results-container {
    display: flex;
    flex-flow:row;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: left;
    background-color: white;
    /*margin: 50px 100px 0px 100px;*/
    margin: -60px auto auto 12vmax;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 9px 15px 5px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 9px 15px 5px rgba(0, 0, 0, 0.28);
    z-index: 2;
    position: absolute;
    width: 50vmax;
    gap: 10px;

}

.result {
    width: 300px;
    padding: 0px 10px 0px 30px;
    border-left: solid 1px;
    border-color: hsl(0, 0%, 59%);
}

.ip {
    border: none;
}

.result > div {
    font-weight: 700;
    color: hsl(0, 0%, 17%);
    font-size: 20px;
}
